body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8EAAF5;
    text-align: center;
    color: #FFF2F2;
}

header {
    background-color: #8EAAF5;
    color: #8EAAF5;
    font-weight: 800;
    font-size: 5vw; 
    padding: 2vh; 
    display: flex;
    justify-content: center;
    
}

.container_Notes_Created {
    font-size: 6vw;
    color: #FBE48C;
    font-weight: bold;
    height: 10vh; 
}

.notes_Created {
    margin-top: 20px;
    padding: 0;
}

.container_Text {
    width: 100%;
    height: 10%;
    position: absolute;
    background-color: white;
    top: 10%;
    z-index: 10;
}

.text {
    text-align: center;
    font-size: 7vw;
    color: #5f8aea;
    font-weight: bold;
    margin-top: 20px;
}

main {
    justify-content: center;
    display: grid;
}

.Btnleft{
    background-image: url("izquierdaa.png");
    top: 42%;
    left: 11%;
    transform: translate(-20%, -50%);
}

.Btnright, .Btnleft{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 19%;
    height: 7.5%;
    border: none;
    cursor: pointer; 
    background-color: transparent;
    transition: filter 0.3s ease, transform 0.2s ease;

}

.Btnright{
    background-image: url("botonDerechaa.png");
    top: 42%;
    left: 11%;
    transform: translate(330%, -50%);
}

.notePad {
    background-image: url("background_notePad.png");
    background-size: cover;
    width: 40vw; 
    height: 30vh;
    max-height: 270px;
    min-width: 170px;
    margin-top: 10vh;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter 0.3s ease, transform 0.2s ease;
}

.BtnAdd, .BtnRemove {
    background-color: #F8E48C;
    width: 100rem;
    height: 5rem;
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    left: 50%;
    transform: translate(0%, 500%);
    border-color: #F8E48C;
    font-size: 6vw;
    color: #8EAAF5;
    font-weight: bold;
    margin-top: 20px;
    transition: filter 0.3s ease, transform 0.2s ease;
}

.BtnAdd {
    top: 10%;
}

.BtnRemove {
    top: 90%;
}

.BtnGoBack1 {
    background-image: url("botones-03.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 19%;
    height: 7.5%;
    top: 95.5%;
    position: absolute;
    z-index: 1;
    left: 20%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    transition: filter 0.3s ease, transform 0.2s ease;
}

.newNote{
    background-color: #8EAAF5;
    width: 40%;
    height: 7%;
    position: fixed;
    border-radius: 15px;
    left: 70%;
    transform: translate(-50%, -50%);
    border-color: #8EAAF5;
    font-size: 6vw;
    color: #F8E48C;
    font-weight: bold;
    transition: filter 0.3s ease, transform 0.2s ease;
    top: 95%;
    z-index: 20;
}

.BtnRemove:hover, .BtnAdd:hover, .BtnGoBack1:hover, .Btnleft:hover, .Btnright:hover, .newNote:hover{
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.2));
}

.BtnRemove:active, .BtnAdd:active, .BtnGoBack1:active, .Btnleft:active, .Btnright:active, .newNote:active{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(0%, 500%) scale(0.95);
}

.BtnGoBack1:active{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(-80%, -50%) scale(0.95);
}


.Btnright:active {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(350%, -50%) scale(0.95);
}

footer {
    background-color: #F8E48C;
    color: #FFF2F2;
    text-align: center;
    padding: 5vh;
    bottom: 0;
    width: 88.4%;
    transform: translate(0%, -1%);
    position: absolute;
}

.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

.preview {
    position: absolute;
    width: 50vw;
    height:44vh;
    border: 1px solid #ccc;
    z-index: -1;
    transform: translate(-50%, 25%);
    border-color: #8EAAF5;
    pointer-events: none;
    top: 9%;
}

@media only screen and (min-width: 840px) {


    .notePad {
        width: 20vw; 
        height: 90vh;
        max-height: 320px;
        min-width: 170px;
        top: 31%;
    }

    .BtnAdd, .BtnRemove {
        font-size: 20px;
        width: 100rem;
        height: 5rem;
        max-width: 500px;
        max-height: 500px;
        font-size: 4.5vw;
        transform: translate(0%, 600%);
    }

        
    .container_Notes_Created {
        font-family: "Roboto";
        font-size: 3vw;
        color: #FBE48C;
        font-weight: bold;
        height: 10vh; 
        position: absolute;
    }

    .text {
        text-align: center;
        font-family: "Roboto";
        font-size: 4vw;
        color: #5f8aea;
        font-weight: bold;
        margin-top: 20px;
    }

    .preview{
        width: 20vw;
        
    }

    .newNote{
        font-size: 2.5vw;
        width: 20vw;
    }

    .BtnRemove:active, .BtnAdd:active{
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
        transform: translate(0%, 600%) scale(0.95);
    }

    footer{
        width: 94.1%;
    }

    }
